* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
}

.Navigators {
    align-items: center;
    padding-right: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.Navigators a {
    font-weight: bold;
    color: rgb(61, 61, 61);
    text-decoration: none;
}

.Marq {
    background-color: #46BC5B;
    height: 33px;
    color: #ffffff;
    margin: 0;
}

.Marq div {
    padding-top: 5px;
}

.Main_Image {
    margin: 0;
    height: 525px;
    width: 1519px;
    padding-bottom: 25px;
}

.Container {
/*     width: 1200px; */
    width: 78%;
    margin: auto;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    flex-direction: column;
}

.ContainerHeading {
    width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Line{
    width: 70px;
    height: 2px;
    margin: 0;
    background-color: #46BC5B;
    text-align: center;
    border-radius: 10px;
}

.One, .Two, .Three {
    padding-top: 10px;
}

h2 {
    margin-top: 30px;
    font-weight: none;
    font-size: 1rem;
    /* height: 50px; */
}

.Container p {
    margin-bottom: 25px;
}

.Container button {
    height: 35px;
    font-weight: bold;
    color: white;
    background-color: #046D38;
    border: none;
    border-radius: 15px;
}

.ContainerBody > div > div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 650px;
    margin: auto;
}


Footer {
    margin-top: 50px;
    height: 200px;
    /* opacity: 0.7; */
    /* background-image: url("assets/Maps.png"); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Maps.png");
}
/* .Images {
    left: 50%;
    transform: translate3d(-50%, -72.0395px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
} */
/* position: absolute;

height: 246px;
width: auto;
filter: none; */

.FooterHeading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.FooterHeading h4 {
    padding-top: 45px;
    color: rgb(241, 232, 232);
}

.FooterHeading div {
    margin-top: 12px;
    text-align: center;
    width: 150px;
    height: 3px;
    border-radius: 10px;
    background-color:  white;
}

Footer img {
    height: 50px;
    width: 50px;
}

.FooterBody {
    margin: auto;
    width: 1200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.GridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.GridContainer div {
    margin: 10px;
}

.GridContainer img {
    border-radius: 15px;
    width: 255px;
    height: 250px;
}

.GridContainer h4 {
    width: 255px;
    text-align: center;
    color: rgb(101, 100, 100);
    margin-bottom: 10px;
}


.ContainerBody2  p {
    /* font-size: 0.9rem;
    font-weight: no; */
    width: 100%;
    text-align: justify;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    /* padding: 10px; */
}


/* .ContainerBody {
    margin-bottom: 20px;
} */

.ContainerBody2 h4 {
    text-align: center;
    margin: auto;
}

td p {
    margin-top: 14px;
}

.ContainerBody2 .AboutTable, .ContainerBody2 td{
    border: solid black 1px;
}
